{varType \Netlte\ActionBar\ActionBar $control}
{foreach $control->getComponents() as $component}
    {continueIf $control->isComponentHidden($component->getName())}
    {control $component}
{/foreach}